img {
    width: 75px;
    border-radius: 40px;
}
.jim {
    margin: auto;
    color: #79db18;
    font-size: 30px;
}
h1 {
    display: block;
    text-align: center;
    color: #0be4e4;
}
input {
    height: 25px;
}
h3 {
    display: block;
    text-align: center;
    color: #0be4e4;
}
.ok {
    display: block;
    margin: auto;
}
.yoy {
    font-size: 30px;
    color: #14ca14;
}
.send {
    display: block;
}